rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }

    match /receipts/{receiptId} {
      allow read, write: if true;
    }
  }
}

// À restreindre avec l'auth pour la production.
